div{
    border: 1px solid black;
    margin: 10px;
}
button{
    width: 100px;
}
#DivPrincipal{
    height: 630px;
    border-radius: 10px;
}
#DivE0{
    display:flex;
    justify-content: space-around;
}
#DivE1{
    
    width: 400px;
}
#DivE2{
    display:flex;
    justify-content: center;
}
#DivE3{
    display: flex;
    justify-content: flex-end;
    width: 100px;
}
#DivC{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.DivC1{
    width: 500px;
    height: 400px;
}