.Inicio{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 10s linear,background 10s linear;
    
}

.Inicio:hover{
    width: 1000px;
    background-color: blue;
}

.Inicio2{
    width: 200px;
    height: 200px;
    background-color: rgb(123, 255, 0);
    transition: width 5s ease 5s, background 10s ease 5s;
}

.Inicio2:hover{
    width: 1000px;
    background-color: blue;
}
.Inicio3{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 10s ease-in,background 10s ease-in;
    
}

.Inicio3:hover{
    width: 1000px;
    background-color: blue;
}
.Inicio4{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 10s ease-in-out,background 10s ease-in-out;
    
}

.Inicio4:hover{
    width: 1000px;
    background-color: blue;
}
.Inicio5{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: width 10s ease-out,background 10s ease-out;
    
}

.Inicio5:hover{
    width: 1000px;
    background-color: blue;
}
.elemento { width: 100px; height: 100px; background-color: blue; transition: transform 0.5s linear;margin: 30px; }
.elemento:hover { transform: rotate(180deg) scale(1.5) translateX(0px) skewY(0deg); }

.elemento2{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: transform 0.5s linear;margin: 30px;
}
.elemento2:hover{
    transform-origin:bottom;
    transform: rotate(180deg);
}
.elemento3{
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: transform 0.5s linear;margin: 30px;
}
.elemento3:hover{
 transform-style: preserve-3d;
 perspective: 1000px;
 transform: rotateY(180deg)
}

