#Padre{
    border: solid black 0px;
    background-image: url(image.png);
    background-size: cover;
    width: 1300px;
    height: 900px;
}
.CoposNievePar{
    font-size: 70px;
    animation:Par 10s infinite;
    animation-delay: 2s;
    z-index: 1;
}
@keyframes Par {
    0% {
    transform: translateY(0);
    opacity: 100%;
    }
    20% {
    opacity: 80%;
    }
    40% {
    opacity: 60%;
    }
    60% {
    opacity: 40%;
    }
    80% {
        opacity: 20%;
    }
    100%{
        opacity: 0%;
        transform: translateY(600px);
    }
}  
.CoposNieveImpar{
    font-size: 70px;
    animation: Impar 10s infinite;
    animation-delay: 1s;
    z-index: 1;
}
@keyframes Impar {
    0% {
    transform: translateY(0);
    opacity: 100%;
    }
    20% {
    opacity: 80%;
    }
    40% {
    opacity: 60%;
    }
    60% {
    opacity: 40%;
    }
    80% {
        opacity: 20%;
    }
    100%{
        opacity: 0%;
        transform: translateY(600px);
    }
}  
#Carta{
    width: 500px;
    height: 600px;
    border: solid black 0px;
    position: relative;left: 400px;bottom: 550px;
    background-image: url(Tarjeta.jpg);
    border-radius: 20px;
}
#Pc{
    font-family: 'Playwrite DE Grund', sans-serif;
    font-size: 20px;
}
#Pc2{
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    position: relative;top: 70px;left: 70px;
}
#Mensaje{
    width: 300px;
    height:300px;
    position: relative;left: 60px;top: 30px;
}